@import '../../../custom-theme.scss';
$primary: map-get($dark-theme, primary);
$primary-light: map-get($light-theme, primary);
$accent: map-get($dark-theme, accent);
$accent-light: map-get($light-theme, accent);
$warn: map-get($dark-theme, warn);
$warn-light: map-get($light-theme, warn);

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  width: 100%;
}

.row input {
  width: 90%;
}
